.form-control
  .form-label
    = form.label :title
  = form.text_field :title, class: 'form-control'
  .form-label
    = form.label :body
  = form.text_area :body, class: 'form-control'
  .form-label
    = form.label :priority
  = form.select :priority, Task.priorities.keys, class: 'form-control'
  .mt-3
    .form-label
      = form.label :remind_at
    = form.datetime_local_field :remind_at
  - if form.object.id.present?
    .mt-3
      button.btn.btn-primary type='button' data-bs-toggle='modal' data-bs-target='#newSubtask' + Add subtask
  .mt-3
    = form.submit 'Save', class: 'btn btn-primary'

- content_for :modals do
  = render '/subtasks/new', f: form

