.card-header
  .row
    .col-8
      .task-title = task.title
    .col-4
      .task-priority class="#{task.priority}" = task.priority 
.card-body
  p.card-text = task.body
  .mt-3
    - if task.subtasks.present?
      hr
      - task.subtasks.each do |sub|
        .form-check
          - if sub.done
            = check_box_tag "subtask-#{sub.id}", sub.id, checked: true
            = sub.title
          - else
            = check_box_tag "subtask-#{sub.id}", sub.id
            = sub.title
.card-footer
  - if task.remind_at.present?
    .row
      p.card-text.text-muted = task.remind_at
      hr
  .row
    .col-8
      = link_to 'Edit', task_path(task), class: 'btn btn-primary'
    .col-4
      = button_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

