- content_for :styles do
  = stylesheet_link_tag 'tasks'

- @tasks.each do |task|
  .card.mt-4.task-card
    = render 'task_card', task: task

javascript:
  $('.form-check').on('click', 'input', function() {
    let subtaskId = $(this).val()
    let done = $(this).is(':checked')
    let url = `/subtasks/${subtaskId}/finished`
    $.ajax({
      url,
      method: 'PATCH',
      data: {
      done
      }
    })
  })
