.modal.fade id='newSubtask' tabindex='-1'
  .modal-dialog
    .modal-content
      .modal-header
        h5 New Subtask
        button.btn-close type='button' data-bs-dismiss='modal' aria-label='close'
      .modal-body
        = hidden_field_tag :task_id, f.object.id
        label Title:
        input#subtask_title
      .modal-footer
        button.btn.btn-secondary data-bs-dismiss='modal' Close
        #saveSubtask.btn.btn-primary Save

javascript:
  $('#saveSubtask').on('click', () => {
    let url = '/subtasks'
    let task_id = $('#task_id').val()
    let title = $('#subtask_title').val()
    $('.btn-close').click()

    $.ajax({
      url,
      method: 'POST',
      data: {
        task_id,
        title
      },
    })
  })
