nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    a.navbar-brand href="#{root_url}" Todo App
    = link_to 'Add Task', new_task_path, class: 'btn btn-primary add-task'
    button.navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon
    .collapse.navbar-collapse id="nav"
      ul.navbar-nav
        li.navbar-item
          a.nav-link.active aria-current="page" href="#{root_url}" Home Page

