.task-card {
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  .task-title {
    display: inline-block;
    font-weight: 600;
    margin-top: 2px;
  }

  .task-priority {
    display: inline-block;
    border: 1px solid ;
    border-radius: 30%;
    padding: 2px 5px 2px 5px;

    &.low {
      border-color: yellow;
      background-color: yellow;
      margin-left: 60%;
    }
    
    &.medium {
      border-color: orange;
      background-color: orange;
      margin-left: 10%;
    }

    &.high {
      border-color: red;
      background-color: red;
      margin-left: 50%;
    }
  }
}


