doctype html
html
  head
    title
      | TodoApp
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    - if content_for :styles
      = yield :styles

    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', media: 'all'
    = javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'
  body
    .container
      - if content_for? :header
        = yield :header
      - else
        = render '/layouts/partial/header.html.slim'

      = yield

      - if content_for? :modals
        = yield :modals

      - if content_for? :scripts 
        = yield :scripts
